body {
    font-family: 'Quantico', sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color: #a0a0a0;
}

body:before {
    content: "";
    position: fixed;
    height: 300%;
    width: 300%;
    background-image: url(../img/panorama.png);
    background-size: cover;
    filter: blur(15px);
    z-index: -10;
    animation-name: background;
    animation-duration: 120s;
    animation-timing-function: cubic-bezier(.2, 0, .81, 1);
    animation-iteration-count: infinite;
    will-change: transform;
}

@keyframes background {
    0% {transform: translateX(-40%) translateY(-45%);}
    20% {transform: translateX(-30%) translateY(-25%);}
    40% {transform: translateX(-10%) translateY(-40%);}
    60% {transform: translateX(-20%) translateY(-55%);}
    80% {transform: translateX(-35%) translateY(-50%);}
    100% {transform: translateX(-40%) translateY(-45%);}
}

.hidden {
    visibility: hidden;
}

.musicButton {
    position: absolute;
    right: 10px;
    top: 50px;
    cursor: pointer;
    z-index: 10;
}