body {
    background-image: url(../img/options_background.png);
    background-repeat: repeat;
    font-family: 'Quantico', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}