/* GENERAL */

body {
    background-image: url(../img/options_background.png);
    background-repeat: repeat;
    font-family: 'Quantico', sans-serif;
    position: relative;
}

/* HEADER */

header {
    background-color: #292929;
    padding: 10px 0;
    border-bottom: 1px solid #3c3c3c;
    transform: translateY(-49px);
    transition: transform, 0.3s ease-in-out;
    visibility: hidden;
    will-change: transform;
}

.header.toggle {
    transform: translateY(0px);
    visibility: visible;
}

header label {
    color: #FFFFFF;
}

header input {
    margin-left: 5px;
}

header form {
    display: inline-block;
}

.toggleButton {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: transform, 0.3s ease-in-out;
    background-color: #292929;
    padding: 8px;
    border-radius: 2px;
    will-change: transform;
}

div#errorTestLogin {
    display: inline-block;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    text-align: right;
    position: absolute;
    color: #b91010;
}

#errorTestLogin p {
    margin-right: 10px;
    margin-bottom: 0px;
}

.container {
    transition: transform, 0.3s ease-in-out;
    will-change: transform;
}

.container.toggle {
    transform: translateY(49px);
}

.toggleButton.toggle {
    transform: rotate(90deg);
}

/* TITLE SEARCH */

#titleSearch {
    margin-bottom: 30px;
}

#titleSearch h1 {
    color: white;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%);
}

#titleSearch h2 {
    color: #d0d0d0;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
}

#titleSearch img {
    max-width: 100%;
}

#titleSearch #search {
    width: 50%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

/* BLOC LIST */

section#blocList .blocCase {
    padding: 0; 
}

.border {
    border: 1px solid black;
    margin: 15px;
}

.itemBox {
    position: relative;
    border-top: 2px solid #b4b4b4;
    border-left: 2px solid #b4b4b4;
    border-right: 2px solid #606060;
    border-bottom: 4px solid #606060;
    background-color: #868686;
}

#blocList .itemBox:hover {
    border-top: 2px solid #bec7ff;
    border-left: 2px solid #bec7ff;
    border-right: 2px solid #5b659c;
    border-bottom: 4px solid #5b659c;
    background-color: #949ab9;
    cursor: default;
}

.itemBox .titleGroup {
    padding: 15px 0;
}

.itemBox .title {
    font-size: 25px;
    font-weight: 700;
    color: #e0e0e0;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%);
}

.itemBox:hover .title {
    color: #ffffa0;
    text-shadow: 2px 2px 0px hsl(60, 12%, 25%);
}

.itemBox .mcId {
    font-size: 20px;
    font-weight: 400;
    color: #d9d9d9;
    text-shadow: 2px 2px 0px #393939;
}

.itemBox:hover .mcId {
    color: #eaf28e;
    text-shadow: 2px 2px 0px #3b3b34;
}

.itemBox .category {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #e0e0e0;
    text-shadow: 2px 2px 0px hsla(0, 0%, 22%, 0.49);
}

.itemBox:hover .category {
    color: #ffffa0;
}

.itemBox .description {
    max-height: 20px;
    overflow: hidden;
}

.itemBox .date {
    padding-bottom: 15px;
    color: #5d5d5d;
}

.itemBox .delete {
    position: absolute;
    right: 9px;
    top: 7px;
    cursor: pointer;
    background: none;
    border: none;
    outline-style: none;
}

/* ADD BLOCK FORM */

section#addBlockForm div.formCase {
    padding: 0; 
}

#addBlockForm .title {
    color: #ffffff;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

#addBlockForm label {
    color: #d0d0d0;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%);
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 5px;
}

#addBlockForm input, #addBlockForm textarea {
    margin-bottom: 25px;
}

#nameItemInput, #numberIdInput, #nameCategoryInput {
    width: 200px;
}

#uploadPicture {
    display: inline-block;
    font-weight: 700;
    color: #5d5d5d;
}

.addForm div {
    position: relative;
}

#addBlockForm div img {
    display: none;
}

/* error messages style */
#addBlockForm .error img {
    display: inline-block;
    top: 50%;
    transform: translateX(-130%) translateY(-50%);
    position: absolute;
}

#addBlockForm .error div {
    display: inline-block;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    text-align: right;
    position: absolute;
    color: #b91010;
}

#addBlockForm .error div p {
    margin-right: 30px;
    margin-bottom: 0px;
}
/* FOOTER */

footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer p {
    color: #d0d0d0;
    text-shadow: 2px 2px 0px hsl(0, 0%, 22%)
}

#hearth {
    color: #ff7b7b;
    font-size: 20px;
}